@model IEnumerable<SapCo2.Models.ParameterMetaData>

@{
    ViewData["Title"] = "GetFunctionMetaData";
}

<h1>GetFunctionMetaData</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumericLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UcLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decimals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Optional)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumericLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UcLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Decimals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Optional)
            </td>
        </tr>
}
    </tbody>
</table>
